@* <!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Markanız</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="@ViewBag.BodyClass">
    @Html.Partial("_TopBanner") <!-- Üst banner partial'ı -->
    @Html.Partial("_Header") <!-- Header partial'ı -->

    <div class="main-content">
        @RenderBody()
    </div>

    @Html.Partial("_Footer") <!-- Footer partial'ı -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html> *@